//- Template of the default page.

include variables.pug

doctype html
html
  head
    block head
      link(href="main.css", rel="stylesheet")
      title= page_name + posttitle
  body
    //- Main panel.
    block panel
      ul#mpane
        mixin li(name, href)
          if page_name == name
            li.mpane_li#mpane_select= name
          else
            li.mpane_li: a(href=href)= name
        +li("Основне")
        +li("Учасники", "")
        +li("Раунди", "")

    //- Content of the page.
    block content

    block foot
      #footer
        p Дебатний клуб Львівської Політехніки. 2017
