//- Template of the default page.

include variables.pug

doctype html
html
  head
    link(href="main.css", rel="stylesheet")
    title= page_name + posttitle
  body
    block content //- Content of the page.

    block foot
      #footer
        p Дебатний клуб Львівської Політехніки. 2017
