extends includes/statpage.pug

block prepend head
  - var page_name = "Основне"

block sidepane
  ul#sidepane
    li.spli
      h1 Дати
      .splidiv
        .splidate
          h2 Від:&nbsp;
          input(type="date")#filterDateFrom
        br
        .splidate
          h2 До:&nbsp;
          input(type="date")#filterDateTo
    li.spli
      h1 Учасники
      .splidiv
        a(onclick="showPeopleList()")#filterPeople Всі учасники (32)
    li.spli
      input(type="button" onclick="filterApply()" value="Показати")#filterButton

block maincont
  ul.listblock
    li.listblockli
      .listblocklival
        span 32
      .listblocklidata
        h1 Всього учасників
        p Загальна кількість учасників за обраний період.
