extends includes/statpage.pug

block prepend head
  - var page_name = "Основне"

block append head
  script(src="index.js")

block maincont
  ul.listblock
    li.listblockli
      .listblocklival
        span 32
      .listblocklidata
        h1 Унікальних учасників
        p Загальна кількість учасників, що зіграли принаймні один раунд.
    li.listblockli
      .listblocklival
        span 100
      .listblocklidata
        h1 Раундів зіграно
        p Загальна кількість раундів.
