extends includes/statpage.pug

block prepend head
  - var page_name = "Основне"
  script(src="index.js")

block sidepane
  ul#sidepane
    li.spli
      .dropdown
        h1.dropdownbtn(onclick="toggleFilterDateDropdown()") Дати
          svg(width="8" height="8" style="margin-left:8px;vertical-align:middle")
            polygon(points="0,0 4,8 8,0" style="fill:black")
        ul(style="list-style-type:none;").dropdownul
          li.dropdownli За весь час
          li.dropdownli За рік
          li.dropdownli За місяць
          li.dropdownli За тиждень
          li.dropdownli З початку тижня
          li.dropdownli Вчора
          li.dropdownli Сьогодні
      .splidiv
        .splidate
          h2 Від:&nbsp;
          input(type="date")#filterDateFrom
        br
        .splidate
          h2 До:&nbsp;
          input(type="date")#filterDateTo
    li.spli
      h1 Учасники
      .splidiv
        a(onclick="showPeopleList()")#filterPeople Всі учасники (32)
    li.spli
      input(type="button" onclick="filterApply()" value="Показати")#filterButton

block maincont
  ul.listblock
    li.listblockli
      .listblocklival
        span 32
      .listblocklidata
        h1 Всього учасників
        p Загальна кількість учасників за обраний період.
