body {
    font-family: sans-serif;
    background-color: aliceblue;
    margin: 0;
}

#mpane {
    background-color: black;

    margin-top: 0;
    margin-bottom: 18px;

    padding: 12px;

    color: lightgray;
    font-weight: bold;
}

#mpane_select {
    color: white;
}

.mpane_li {
    display: inline;
    margin-left: 36px;
}

#footer {
    font-size: 14px;
    text-align: center;
    padding: 18px 0;
}
