@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300');

body {
    font-family: sans-serif;
    background-color: white;
    margin: 0;
}

main {
}

#mpane {
    background-color: #f3f3f3;

    margin: 0;
    margin-bottom: 18px;

    padding: 12px;

    color: black;
}

#mpane_select {
    color: darkblue;

    border-bottom-style: solid;
    border-width: 3px;
    border-color: royalblue;
}

.mpane_li {
    display: inline;
    padding-left: 18px;
    padding-right: 18px;
    padding-bottom: 10px;
}

.mpane_li > a:link {
    color: inherit;
    text-decoration: none;
}

.mpane_li > a:visited {
    color: inherit;
    text-decoration: none;
}

.mpane_li > a:hover {
    color: blue;
    text-decoration: none;
}

.mpane_li > a:active {
    color: blue;
    text-decoration: none;
}

#sidepane {
    width: 200px;
    float: left;

    display: inline-block;
    list-style-type: none;

    margin-left: 0;
    margin-right: 64px;
    padding: 4px 10px;

    border-style: solid;
    border-width: 1px;
    border-color: lightgray;

    background-color: #FCFCFC;
}

/* Side Panel <li> element */
.spli {
    font-size: 15px;

    padding: 18px 18px;
    margin-bottom: 8px;
}

.spli h1 {
    font-size: 1.3em;
    font-weight: normal;

    margin: 0;
    margin-bottom: 10px;
}

/* Side Panel date filer layer */
.splidate {
    display: inline-block;
    padding: 8px 0;
}

.splidate > input {
    float: right;

    border-radius: 3px;
    border-style: solid;
    border-color: lightgray;
    border-width: 1px;

    padding-left: 2px;
}

.splidiv h2 {
    font-size: 1em;
    font-weight: normal;

    margin-top: 0;
    margin-bottom: 8px;

    vertical-align: middle;
}

.splidiv {
    margin-left: 16px;
}

.splidiv a {
    font-style: oblique;
    font-size: 0.9em;
    text-decoration: underline;

    color: darkblue;

}

#filterPeople {
    cursor: pointer;
}

#filterPeople:hover {
    color: blue;
}

#filterButton {
    width: 100%;
    font-size: 1em;

    cursor: pointer;

    border: solid;
    border-width: 1px;
    border-color: gray;
    border-radius: 3px;

    background-color: #FDFDFD;

    padding: 2px 0;
}

input#filterButton:hover {
    border-color: black;
    background-color: white;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdownbtn {
    cursor: pointer;
}

.dropdownul {
    display: none;
    position: absolute;
    min-width: 160px;
    z-index: 2;

    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    background-color: rgba(250, 250, 250, 0.98);

    border-style: solid;
    border-width: 1px;
    border-color: gray;
}

.dropdownli {
    margin: 4px 0;
}

.dropdownli:hover {
    cursor: pointer;
    text-decoration: underline;
}

/* The list that contain block info-tables in main content section. */
.listblock {
    display: inline-block;
    list-style-type: none;
    padding-left: 0;
}

.listblockli {
    position: relative;
    left: 72px;
}

.listblocklidata {
    margin: 0;
    padding: 16px 8px;
    padding-left: 28px;

    border-left-style: solid;
    border-width: 2px;
    border-color: skyblue;
}

.listblocklidata > h1 {
    margin: 0;
    font-family: "Open Sans Condensed";
    font-weight: 300;
}

.listblocklival {
    display: block;
    width: 72px;

    position: absolute;
    top: 50%;
    margin-top: -0.7em;
    left: -90px;

    text-align: right;

    font-size: 36px;
    font-family: "Open Sans Condensed";
    font-weight: 300;
}

.listblocklidateday {
    display: block;
    width: 72px;

    position: absolute;
    top: 50%;
    margin-top: -0.9em;
    left: -90px;

    text-align: right;

    font-size: 36px;
    font-family: "Open Sans Condensed";
    font-weight: 300;
}

.listblocklidatemon {
    display: block;
    width: 72px;

    position: absolute;
    top: 50%;
    margin-top: 1em;
    left: -90px;

    text-align: right;

    font-size: 15px;
    font-family: "Open Sans Condensed";
    font-weight: 300;
}

footer {
    clear: both;

    font-size: 14px;
    text-align: center;
    padding: 18px 0;
}

/* Page navigation list when content is split in multiple pages.
 * Like in google search.
 */
.pagenav {
    display: inline-block;
    list-style-type: none;

    padding: 2px 4px;

    border-style: solid;
    border-width: 1px;
    border-color: lightgray;
    border-radius: 6px;
}

.pagenavli {
    display: inline;

    margin-left: 0.2em;
    margin-right: 0.2em;

    font-size: 15px;
}

.pagenavli a {
    text-decoration: none;
}

.pagenavli a:hover {
    text-decoration: underline;
}

#roundsdiv {
    display: block;
    text-align: left;
}

table {
    border-collapse: collapse;
    margin: 16px 0;
}

table, th, td {
    border: 1px solid lightgray;
}

thead {
    background-color: #F0F0FC;
}

td {
    padding: 12px;
    text-align: center;
}

tbody > tr:hover {
    background-color: #F5F5FE;
}

#login {
    text-align: left;
    display: inline-block;
    max-width: 30%;

    border-width: 1px;
    border-color: lightgray;
    border-radius: 10px;
    border-style: solid;

    margin: 48px 0 24px 0;
    padding: 32px;
}

#login h1 {
    text-align: center;
    font-size: 48px;
    font-family: "Open Sans Condensed";
    font-weight: 300;

    margin: 0;
}

#login h2 {
    font-size: 28px;
    font-family: "Open Sans Condensed";
    font-weight: 300;

    margin-top: 24px;
    margin-bottom: 6px;
}

#login p {
    text-align: center;
    color: gray;
    margin-top: 32px;
    font-size: 0.84em;
}

#login input {
    height: 32px;
    font-size: 20px;
    width: 90%;

    padding: 0 0.5em;

    border-style: solid;
    border-width: 1px;
    border-left-color: lightgray;
    border-bottom-color: black;
    border-right-style: none;
    border-top-style: none;

    font-family: monospace;
}

#login button {
    margin-top: 24px;
    padding: 12px 24px;

    border-style: none;
    border-radius: 4px;

    font-size: 18px;
    color: white;
    background-color: royalblue;
}

#login button:hover {
    background-color: #4973E9;
    cursor: pointer;
}
