extends includes/statpage.pug

block prepend head
  - var page_name = "Раунди"

block append head
  script(src="rounds.js")


block maincont
  #maincont(style="text-align:center;")
    ul#pagenavtop.pagenav
      li.pagenavli: a(href="") «
      li.pagenavli: a(href="") <
      li.pagenavli: a(href="") 1
      li.pagenavli: a(href="") >
      li.pagenavli: a(href="") »
    #roundsdiv
    ul#pagenavbottom.pagenav
      li.pagenavli: a(href="") «
      li.pagenavli: a(href="") <
      li.pagenavli: a(href="") 1
      li.pagenavli: a(href="") >
      li.pagenavli: a(href="") »
